*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    line-height: var(--leading-none);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
select {
    font: inherit;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    padding: 0;
}

button {
    border: none;
    font: inherit;
    background-color: transparent;
    padding: 0;
    cursor: pointer;

    &:active {
        transform: scale(0.97);
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

button:focus,
a:focus,
input:focus {
    outline-offset: var(--focus-outline-offset);
    outline-width: var(--focus-outline-width);
    outline-style: var(--focus-outline-style);
    outline-color: var(--focus-outline-color);
}

@supports selector(:focus-visible) {
    button:focus,
    a:focus,
    input:focus {
        outline: none;
    }

    button:focus-visible,
    a:focus-visible,
    input:focus-visible {
        outline-offset: var(--focus-outline-offset);
        outline-width: var(--focus-outline-width);
        outline-style: var(--focus-outline-style);
        outline-color: var(--focus-outline-color);
    }
}
